/*
* SCDevy Custom Framework -Basic V1.0 - based on Skeleton V1.2
* www.getskeleton.com
* www.stephenc.me
* 3/4/2014
*/

/* #Basic Styles
================================================== */
	html, body {
        height: 100%;
        margin: 0;
		background: #990000; color: #FFF; /* yellow: #FFCC00 */
		font: 14px/21px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }


/* #Site Styles
================================================== */
